<div class="row-fluid">
	<!-- block -->
	<div class="block">
		<div class="navbar navbar-inner block-header">
			<div class="muted pull-left">Edit match</div>
		</div>
		<div class="block-content collapse in">
			<div class="span12">
				<form class="form-horizontal" method="post" id="frmMatchs" action="/admin/matchs/update">
                                    <input type='hidden' name='match_id' value='{$match->match_id}' />
                                    
                                        <div class="control-group">
					  <label class="control-label" for="selectError">Match Type</label>
					  <div class="controls form-group">
                                              <select class="form-control chzn-select" name="match_type_id">
                                                  <option value=''>--Select--</option>
                                                  {html_options options=$match_types selected=$match->match_type_id}
                                             </select>
					  </div>
					</div>
                                    
                                        <div class="control-group ">
					  <label class="control-label" for="focusedInput">Season</label>
					  <div class="controls form-group">
                                              <input class="input-xlarge focused" id="season" name="season" type="text" value="{$match->season}">
					  </div>
					</div>
                                    
                                        <div class="control-group ">
					  <label class="control-label" for="focusedInput">Match Date</label>
					  <div class="controls form-group">
                                              <input class="input-xlarge focused datepicker" id="match_date" name="match_date" type="text" value="{$match->match_date}">
					  </div>
					</div>
                                    
                                        <div class="control-group">
					  <label class="control-label" for="selectError">Ground</label>
					  <div class="controls form-group">
                                              <select class="form-control chzn-select" name="venue_id">
                                                  <option value=''>--Select--</option>
                                                  {html_options options=$venues selected=$match->venue_id}
                                             </select>
					  </div>
					</div>
                                    
                                        <div class="control-group ">
					  <label class="control-label" for="focusedInput">Start Time</label>
					  <div class="controls form-group">
                                              <input class="input-xlarge focused" id="start_time" name="start_time" type="text" value="{$match->start_time}">
					  </div>
					</div>
                                        <div class='row-fluid'>
                                            <div class="control-group span5 alpha">
                                                <label class="control-label" for="selectError">Home Team</label>
                                                <div class="controls form-group">
                                                    <select class="form-control chzn-select" name="home_team_id">
                                                        <option value=''>--Select--</option>
                                                        {html_options options=$teams selected=$match->home_team_id}
                                                   </select>
                                                </div>
                                              </div>

                                              <div class="control-group span6">
                                                <label class="control-label" for="selectError">Umpire 1</label>
                                                <div class="controls form-group">
                                                    <select class="form-control chzn-select" name="umpire1_id">
                                                        <option value=''>--Select--</option>
                                                        {html_options options=$umpires selected=$match->umpire1_id}
                                                   </select>
                                                </div>
                                              </div>
                                        </div>
                                    <div class='row-fluid'>
                                        <div class="control-group span5 alpha">
					  <label class="control-label" for="selectError">Visiting Team</label>
					  <div class="controls form-group">
                                              <select class="form-control chzn-select" name="visiting_team_id">
                                                  <option value=''>--Select--</option>
                                                  {html_options options=$teams selected=$match->visiting_team_id}
                                             </select>
					  </div>
					</div>
                                    
                                        <div class="control-group span6">
					  <label class="control-label" for="selectError">Umpire 2</label>
					  <div class="controls form-group">
                                              <select class="form-control chzn-select" name="umpire2_id">
                                                  <option value=''>--Select--</option>
                                                  {html_options options=$umpires selected=$match->umpire2_id}
                                             </select>
					  </div>
					</div>
                                    </div>
                                        
                                        <div class="control-group">
					  <label class="control-label" for="selectError">Status</label>
					  <div class="controls form-group">
                                              <select class="form-control" name="status">
                                                  <option value="Active" {if $match->status eq "Active"} selected {/if}>Active</option>
                                                  <option value="Inactive" {if $match->status eq "Inactive"} selected {/if}>Inactive</option>
                                             </select>
					  </div>
					</div>

					<div class="form-actions">
					  <button type="submit" class="btn btn-primary">Update</button>
					  <a href="/admin/matchs/"><button type="button" class="btn">Cancel</button></a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<link href="{$BASEURL}/scripts/vendors/datepicker.css" rel="stylesheet" media="screen">
<link href="{$BASEURL}/scripts/vendors/chosen.min.css" rel="stylesheet" media="screen">
<script src="{$BASEURL}/scripts/vendors/chosen.jquery.min.js"></script>

<script src="{$BASEURL}/scripts/vendors/jquery.uniform.min.js"></script>

<script src="{$BASEURL}/scripts/vendors/bootstrap-datepicker.js"></script>

<script type="text/javascript">
	$(document).ready(function() { 
            
            $(".chzn-select").chosen();            
            $(".datepicker").datepicker({
                format: "yyyy-mm-dd"
            });
            
	    $('#frmMatchs').bootstrapValidator({
		message: 'This value is not valid',
		fields: { 
		    match_type_id: {
			message: 'The match type is not valid',
			validators: {
			    notEmpty: {
				message: 'The match type is required and can\'t be empty'
			    }
			}
		    },
                    season: {
                        validators: {
                            notEmpty: {
                                message: 'The season is required and can\'t be empty'
                            }
                        }
                    },
                    match_date: {
                        validators: {
                            notEmpty: {
                                message: 'The match date is required and can\'t be empty'
                            }
                        }
                    },
                    venue_id: {
                        validators: {
                            notEmpty: {
                                message: 'The ground name is required and can\'t be empty'
                            }
                        }
                    },
                    start_time: {
			message: 'The start time is not valid',
			validators: {
			    notEmpty: {
				message: 'The start time is required and can\'t be empty'
			    }
			}
		    },
                    home_team_id: {
			message: 'The home team is not valid',
			validators: {
			    notEmpty: {
				message: 'The home team is required and can\'t be empty'
			    }
			}
		    },
                    umpire1_id: {
			message: 'The umpire 1 is not valid',
			validators: {
			    notEmpty: {
				message: 'The umpire 1 is required and can\'t be empty'
			    }
			}
		    },
                    visiting_team_id: {
			message: 'The visiting team is not valid',
			validators: {
			    notEmpty: {
				message: 'The visiting team is required and can\'t be empty'
			    }
			}
		    },
                    umpire2_id: {
			message: 'The umpire 2 is not valid',
			validators: {
			    notEmpty: {
				message: 'The umpire 2 is required and can\'t be empty'
			    }
			}
		    }
		}
	    });
	});
</script>